@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Mulish:ital,wght@0,300;1,300&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    background:peachpuff ;
}

h2 {
    color: brown;
    text-decoration: underline;
}

button {
    font-family: 'Mulish', sans-serif;
    background: brown;
    color: white;
    font-size: 120%;
}